/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM CSS STARTS HERE */
/*CSS HERE*/
/*ONE MORE TIME FOR BLIND ELISE*/

html {
  font-size: 24px;
  background: rgb(180, 180, 180);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  padding: 1em 1em 1em 2em;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.75rem;
/*  padding: 2rem 1rem 1.5rem 5rem;*/
}

h3 {
  font-size: 1.5rem;
/*  padding: 0rem 1rem;*/
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
/*  line-height: 1rem;*/
/*  padding: 0.5rem 0rem 0.5rem 5rem;*/
  color: black;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.5rem;
  line-height: 0.75rem;
  padding: 0.5rem 0rem 0.5rem 5rem;
  color: black;
}

strong {
  font-weight: 600;
  color: rgb(212, 0, 255);
}

em {
  font-style: italic;
}

b {
  font-size: 0.9rem;
}

nav a {
  width: 100%;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8rem;
/*  text-decoration: none;*/
/*  padding: 1rem 1rem 0.25rem 1rem;*/
/*  border-radius: 0.2rem;*/
/*  margin: 2.25rem 1rem 0.25rem 3.75rem;*/
  text-align: center;
  display: block;
}

nav a:hover {
  color: rgb(212, 8, 212);
}

nav ul {
  display: flex;
}

main, section, header {
  display: flex;
  flex-wrap: wrap;
}

main.intro section.introcore {
  width: 60%;
}

main.intro section.wobblycircle {
  width: 40%;
  align-content: center;
}

/*iframe {
  border: none;
}*/

/*section ol {
  list-style: number;
  margin-left: 1.5rem;
}*/

/*section ul {
  list-style: disc;
  margin-left: 1.5rem;
}*/


@media screen and (max-width: 700px) {
}
